<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/quienes_somos">QUIENES SOMOS</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
        <li><a href="/comprar">COMPRAR</a></li>
        <li><a href="/historia">HISTORIA</a></li>
        
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
